h1{
    text-align: center;
    text-transform: capitalize; 
    border: 2px solid teal;
    color: rgb(255, 94, 0);
    background-color: black;
    
    
}
h2{
    color: darkorange;
    text-align: center;
    background-color: rgb(220, 215, 250);
   
    
}
p{
    text-align: center;
    color: black;
}
h3{
    text-align: justify;
    color: rgba(0, 0, 0, 0.52);
    
}
h4{
    color: blue;
    text-align: center;
}
     section{
          
          font-style: unset;
          background-color: rgb(63, 153, 205);
          text-align: center;
          color: chocolate;
       
}
h1{
    text-align: center;
}


h5{
    text-align: center;
    size: 0vw;
    color: cornsilk;
}
h6{
    text-align: center;
    size: 0vw;
    color: cornsilk;
}

label{
    color: antiquewhite;
}
body{
    
    background-color: antiquewhite;
}
.Xpress{
    color: rgb(55, 0, 255);
}











